body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spawn-button {
  font-size: 30px;
}

.option-table {
  float: right;
  padding: 30px;
  margin: 30px;
  margin-top: 3rem;
  background-color: rgb(224, 223, 223);
}

#shapes {
  margin-bottom: 15px;
}

.title {
  padding: 6rem;
  margin-left: 6rem;
}

@media only screen and (max-width: 600px) {
  .option-table {
    float: none;
    align-items: center;
    margin-top: 1rem;
  }
  .title {
    display: none;
  }
}
